.main-login {
  width: 100%;
  position: relative;
  & > .main-login-load {
    position: absolute;
    top: 0px;
    background: #000000;
    width: 100%;
    opacity: 0.6;
    & > .login-load-item {
      position: relative;
      text-align: center;
      margin-top: 224px;
      margin-right: 101px;
    }
    & > .login-load-item::after,
    & > .login-load-item::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 4px #eb2930;
      border-style: dotted solid dotted solid;
      animation: turn-left 1.5s linear infinite;
    }
    & > .login-load-item::before {
      left: calc(50% - 25px);
      top: calc(50% - 25px);
      width: 150px;
      height: 150px;
      border-style: dotted dotted solid solid;
      animation: turn-right 1.5s linear infinite;
    }
    @keyframes turn-right {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes turn-left {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
  & > div {
    height: 712px;

    & > img {
      width: 100%;
      height: 100%;
      opacity: 50%;
    }
  }
  & > .form-login {
    height: 500px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 41px 45px;
    gap: 10px;
    position: absolute;
    left: 34%;
    top: 106px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px #000000;

    & > .form-login-main {
      font-weight: 700;
      font-size: 32px;
      line-height: 24px;
      color: #eb2930;
      & > .login-main-message {
        background: #62d07a;
        border-radius: 5px;
        margin-top: 25px;
        & > p {
          font-size: 13px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          color: #ffffff;
        }
      }
      & > h3 {
        text-align: center;
      }
      & > .main-border {
        width: 100px;
        background: #eb2930;
        border: 3px;
        margin: 0 auto;
        margin-top: 6px;
        height: 2px;
      }
      & > .main-body {
        width: 403px;
        height: 273px;
        text-align: center;
        margin-top: 15px;
        & > .body-list {
          width: 100%;
          display: flex;
          border-bottom: 1px solid #000;
          & > .list-item {
            display: flex;
            align-items: center;
            & > div {
              & > input {
                border: none;
                background: transparent;
                width: 200px;
                line-height: 24px;
                font-size: 16px;
                font-weight: 500;
                outline: none;
              }
            }
          }
          & > .list-user {
            position: relative;
            width: 100%;
            & > .list-user-item {
              width: 100%;
              display: flex;
              & > img {
                width: 35px;
                height: 35px;
                margin-right: 10px;
              }
              & > input {
                width: 100%;
              }
            }
            & > .error-message {
              font-size: 12px;
              position: absolute;
              bottom: -70%;
            }
          }

          & > .list-unlock {
            position: relative;
            & > .list-unlock-item {
              display: flex;
              & > img {
                width: 30px;
                height: 30px;
                margin-right: 15px;
              }
            }
            & > .error-message {
              font-size: 12px;
              position: absolute;
              bottom: -70%;
            }
          }
          & > .list-eye {
            color: #9d9797;
            font-weight: 500;
            background: transparent;
          }
          & > .list-check {
            border-bottom: 1px solid #000;
            width: 50%;
            position: relative;
            & > .list-check-item {
              display: flex;
              & > img {
                width: 30px;
                height: 30px;
                margin-right: 15px;
              }
              & > input {
                width: 110px;
              }
            }
            & > .error-message {
              font-size: 12px;
              position: absolute;
              bottom: -82%;
            }
          }
          & > .list-reload {
            width: 37%;
            margin-left: 20px;
            font-size: 40px;
            cursor: pointer;
            font-family: "Edu AU VIC WA NT Guides", cursive;
            justify-content: space-between;
            & > img:first-child {
              width: 146px;
            }
            & > img:last-child {
              width: 19px;
              height: 19px;
            }
          }
        }
        & > .body-list-check {
          border: none;
        }
        & > .body-list-unlock {
          justify-content: space-between;
          cursor: pointer;
        }
        & > .body-list:nth-child(2) {
          margin: 35px 0;
        }
        & > .body-button {
          width: 200px;
          height: 45px;
          margin: 0 auto;
          margin-top: 45px;
        }
      }
      & > .main-forgot {
        & > .forgot-password {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 15px 0;

          & > .password-line {
            width: 120px;
            background: #c06868;
            border: 1px solid;
          }
          & > .password-title {
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
            color: #c06868;
            cursor: pointer;
            text-decoration: underline;
          }
        }
        & > .forgot-register {
          display: flex;
          font-size: 16px;
          line-height: 24px;
          justify-content: center;
          font-weight: 400;
          & > .register-title {
            color: #000000;
          }
          & > .register-button {
            margin-left: 5px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.login-animation {
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes tilt-in-fwd-tr {
  0% {
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
