.admin-documents-view {
    display: flex;
    flex-direction: column;
    padding: 8px 30px;
    gap: 24px;
    width: 100%;
    & > span {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
    }
    & > .actions {
        display: flex;
        align-items: center;
        gap: 25px;
        & > .search-container {
            position: relative;
            & > input {
                width: 250px;
                height: 56px;
                padding: 0px 10px;
                border-radius: 10px;
                border: 1px solid #c4c4c4;
                font-size: 1rem;
            }
            & > select {
                width: 250px;
                height: 56px;
                padding: 0px 10px;
                border-radius: 10px;
                border: 1px solid #c4c4c4;
                font-size: 1rem;
            }
        }
        & > .rightActions {
            margin-left: auto;
            display: flex;
            gap: 10px;
            & > .reload-btn {
                padding: 9px 15px;
                font-size: 14px;
                font-weight: 700;
                line-height: 14.63px;
                color: white;
                background-color: burlywood;
                border: none;
                border-radius: 10px;
                transition: 0.3s ease;
                cursor: pointer;
            }
            & > .reload-btn:hover {
                scale: 1.1;
            }
            & > .delete-btn {
                padding: 9px 15px;
                font-size: 14px;
                font-weight: 700;
                line-height: 14.63px;
                color: white;
                background-color: #dd706f;
                border: none;
                border-radius: 10px;
                transition: 0.3s ease;
                cursor: pointer;
            }
            & > .delete-btn:hover {
                scale: 1.1;
                background-color: var(--main-color);
            }
            & > .censor-btn {
                padding: 9px 15px;
                font-size: 14px;
                font-weight: 700;
                line-height: 14.63px;
                color: white;
                background-color: #026cb9;
                border: none;
                border-radius: 10px;
                transition: 0.3s ease;
                cursor: pointer;
            }
            & > .censor-btn:hover {
                scale: 1.1;
            }
        }
    }
}
