.main-login {
  width: 100%;
  position: relative;
  & > div {
    height: 712px;
    & > img {
      width: 100%;
      height: 100%;
      opacity: 50%;
    }
  }
  & > .form-login-pass {
    width: 500px;
    height: 500px;
    background: #ffffff;
    display: flex;
    padding: 40px 45px;
    justify-content: center;
    margin: 0 auto;
    // padding: 41px 45px;
    gap: 10px;
    position: absolute;
    left: 34%;
    top: 106px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px #000000;

    & > .form-login-main {
      font-weight: 700;
      font-size: 32px;
      line-height: 24px;
      color: #eb2930;
      & > h3 {
        text-align: center;
      }
      & > .main-border {
        width: 200px;
        background: #eb2930;
        border: 3px;
        margin: 0 auto;
        margin-top: 17px;
        height: 2px;
      }
      & > .main-body {
        width: 403px;
        // height: 255px;
        text-align: center;
        margin-top: 40px;
        & > .body-list {
          width: 100%;
          display: flex;
          border-bottom: 1px solid #000;
          & > .list-item {
            display: flex;
            align-items: center;
            & > div {
              & > input {
                border: none;
                background: transparent;
                width: 100%;
                line-height: 24px;
                font-size: 16px;
                font-weight: 500;
                outline: none;
              }
            }
          }
          & > .list-user {
            position: relative;
            width: 100%;
            & > .list-user-item {
              display: flex;
              width: 100%;
              & > img {
                width: 35px;
                height: 35px;
                margin-right: 10px;
              }
              
              &>div>p{
                position: absolute;
                bottom: -60%;
              }

              &>div>div::before{
                border-bottom: none;
              }
              &>div>div::after{
                border-bottom: none;
              }
            }
            & > .error-message {
              font-size: 12px;
              position: absolute;
              bottom: -70%;
            }
          }
          & > .list-confirm {
            position: relative;
            & > div {
              display: flex;
              &>div>div::before{
                border-bottom: none;
              }
              &>div>div::after{
                border-bottom: none;
              }
              &>div>p{
                position: absolute;
                bottom: -60%;
              }
              & > svg {
                width: 35px;
                height: 35px;
                margin-right: 10px;
                color: #858181;
              }
            }
            & > .error-message {
              font-size: 12px;
              position: absolute;
              bottom: -70%;
            }
          }
          & > .confirm-button {
            display: flex;
            gap: 0.5rem;
            width: max-content;
            height: 23px;
            &>.time-left{
              font-size: 15px;
            }
            &.active>button{
              pointer-events: none; 
              opacity: 0.6;
              cursor: not-allowed;
            }
          }

          & > .list-check {
            border-bottom: 1px solid #000;
            width: 50%;
            position: relative;
            & > .list-check-item {
              display: flex;
              &>div>div::before{
                border-bottom: none;
              }
              &>div>div::after{
                border-bottom: none;
              }
              &>div>p{
                position: absolute;
                bottom: -60%;
              }
              & > img {
                width: 30px;
                height: 30px;
                margin-right: 15px;
              }
              & > input {
                width: 110px;
              }
            }
            & > .error-message {
              font-size: 12px;
              position: absolute;
              bottom: -82%;
            }
          }
          & > .list-reload {
            width: 37%;
            margin-left: 20px;
            font-size: 40px;
            cursor: pointer;
            font-family: "Edu AU VIC WA NT Guides", cursive;
            justify-content: space-between;
            & > img:first-child {
              width: 146px;
            }
            & > img:last-child {
              width: 19px;
              height: 19px;
            }
          }
          // &>.confirm-button
        }
        & > .body-list-check {
          border: none;
          justify-content: space-between;
        }
        // & > .body-list-unlock {
        //   justify-content: space-between;
        //   cursor: pointer;
        // }
        & > .body-list:nth-child(2) {
          margin: 40px 0;
          justify-content: space-between;
        }
        & > .body-button {
          width: 200px;
          height: 45px;
          margin: 0 auto;
          margin-top: 45px;
        }
      }
      & > .main-forgot-pass {
        margin-top: 45px;

        & > .forgot-password {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          & > .password-line {
            width: 120px;
            background: #c06868;
            border: 1px solid;
          }
          & > .password-title {
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
            color: #c06868;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  & > .forgot-animation {
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
}

#email::before{
  width: 100%;
  border-bottom: none;
}
#email::after{
  width: 100%;
  border-bottom: none;
}


@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
