.change-password {
  width: 100%;
  margin-top: 23px;
  & > .change-password-main {
    width: 92%;
    margin: 0 auto;
    & > .password-main-header {
      & > h3 {
        font-size: 24px;
        color: #00000099;
        line-height: 29px;
        font-weight: 700;
        padding: 10px;
        border-bottom: 2px solid #00000080;
      }
    }
    & > .password-main-body {
      margin-top: 30px;
      & > .main-body-list {
        padding: 26px 45px;
        width: 60%;
        margin: 0 auto;
        border: 2px solid #00000080;
        border-radius: 20px;
        & > .body-list-title {
          width: 86%;
          margin: 0 auto;
          color: #00000099;
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;
          margin-bottom: 36px;
        }
        & > .body-list-input {
          width: 100%;
          & > div {
            display: flex;
            justify-content: space-between;
            width: 86%;
            margin: 0 auto;
            position: relative;
            & > .error-message {
              position: absolute;
              bottom: -20px;
              font-size: 12px;
              color: #eb2930;
              font-weight: 600;
            }
            & > div {
              display: flex;
              flex-direction: column;
              width: 100%;
              & > label {
                font-size: 16px;
                color: #00000099;
                font-weight: 500;
                line-height: 19px;
                margin-bottom: 5px;
              }
              & > input {
                width: 100%;
                border-radius: 10px;
                padding: 10px 17px;
                border: 1px solid #00000080;
                gap: 10px;
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                outline: none;
              }
            }
          }
          & > .list-input-new {
            margin-top: 36px;
            margin-bottom: 36px;
          }
          & > .list-input-check {
            margin-top: 35px;
            margin-bottom: 25px;
            & > .input-check-item {
              display: flex;
              flex-direction: row;
              align-items: center;
              & > input {
                width: 25px;
                margin-right: 5px;
                height: 25px;
              }
              & > label {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
